<div class="filter-container">
    <span> Filter: </span>
    <input type="radio" name="filter" value="all" [(ngModel)]="selectedfilterradiobutton"
    (change)="onselectedfilterradiobuttonchange()"/>
    <span>{{'All(' +all+')'}}</span>
    <input type="radio" name="filter" value="true" [(ngModel)]="selectedfilterradiobutton"
    (change)="onselectedfilterradiobuttonchange()"/>
    <span>{{'In Stock(' +instock+')'}}</span>
    <input type="radio" name="filter" value="false" [(ngModel)]="selectedfilterradiobutton"
    (change)="onselectedfilterradiobuttonchange()"/>
    <span>{{'Out of Stock(' +outstock+')'}}</span>
</div>